Calculateing euclidean distance

In [19]:
def CalculateEuclidean(a,b,x,y):
  return np.sqrt(((x - a)**2) + ((y-b)**2))

In [3]:
import numpy as np

a = 57
b = 170

weight = [51,62,69,64,65,56,58,57,55]
height = [167,182,176,173,172,174,169,173,170]

for x, y in zip(weight, height):
 ecd = np.sqrt(((x - a)**2) + ((y-b)**2))
 print(ecd)

6.708203932499369
13.0
13.416407864998739
7.615773105863909
8.246211251235321
4.123105625617661
1.4142135623730951
3.0
2.0

**LOAN Data **

In [44]:
import pandas as pd

dt = {
    "age":[25, 35,45,20,35,52,23,40,60,48,33],
    "salary" : [40000,60000,80000,20000,120000,18000,95000,62000,1000000,220000,150000],
    "loan" : ['N','N','N','N', 'N','N','Y','Y','Y','Y','Y']
}
dataFrame = pd.DataFrame(dt);
print(dataFrame)

    age   salary loan
0    25    40000    N
1    35    60000    N
2    45    80000    N
3    20    20000    N
4    35   120000    N
5    52    18000    N
6    23    95000    Y
7    40    62000    Y
8    60  1000000    Y
9    48   220000    Y
10   33   150000    Y

**APPROACH 1 **

In [59]:
a = 48
b = 142000
age = dataFrame['age']
salary = dataFrame['salary']
loan = dataFrame['loan']


distance = []
for x, y in zip(age, salary):
  distance.append(CalculateEuclidean(a, b, x, y))

print(distance)

[102000.00259313722, 82000.0010304878, 62000.000072580646, 122000.00321311472, 22000.003840908757, 124000.00006451613, 47000.0066489357, 80000.0004, 858000.0000839161, 78000.0, 8000.01406248764]

In [41]:
newDistance = []
cnt = 0;
for i in distance:
  newDistance.append([i,cnt])
  cnt += 1

newDistance.sort()
print (newDistance)

[[8000.01406248764, 0], [22000.003840908757, 1], [47000.0066489357, 2], [62000.000072580646, 3], [78000.0, 4], [80000.0004, 5], [82000.0010304878, 6], [102000.00259313722, 7], [122000.00321311472, 8], [124000.00006451613, 9], [858000.0000839161, 10]]

In [42]:
yCnt = 0;
nCnt = 0;
for i in newDistance[:3]:
  if loan[i[1]] == 'Y' :
    yCnt += 1
  else:
    nCnt += 1

result = 'Y' if yCnt > nCnt else 'N'
print(f"Group of (a =  {a}, b = {b}) is -> {result}")

Group of (a =  48, b = 142000) is -> N

Add distance into dataFrame

In [88]:
# dataFrame['distance'] = distance
print(dataFrame)

    age   salary loan           dist
0    25    40000    N  102000.002593
1    35    60000    N   82000.001030
2    45    80000    N   62000.000073
3    20    20000    N  122000.003213
4    35   120000    N   22000.003841
5    52    18000    N  124000.000065
6    23    95000    Y   47000.006649
7    40    62000    Y   80000.000400
8    60  1000000    Y  858000.000084
9    48   220000    Y   78000.000000
10   33   150000    Y    8000.014062

In [50]:
dataFrame["dist"]=np.sqrt((age - a)**2+ (salary -b )**2)   # another approach to calulating distance directly

In [69]:
print(dataFrame)

    age   salary loan           dist
0    25    40000    N  102000.002593
1    35    60000    N   82000.001030
2    45    80000    N   62000.000073
3    20    20000    N  122000.003213
4    35   120000    N   22000.003841
5    52    18000    N  124000.000065
6    23    95000    Y   47000.006649
7    40    62000    Y   80000.000400
8    60  1000000    Y  858000.000084
9    48   220000    Y   78000.000000
10   33   150000    Y    8000.014062

In [87]:
from os import access
# list=[1,4,7,9,57]
# np.min(list)
distance.sort()

k3 = dataFrame[dataFrame['dist'] <= distance[2]]['loan'].value_counts()

if k3.Y > k3.N :
  print("Group Y")
else :
  print("Group N")

47000.0066489357
Group Y